include:
  - project: hpc/gitlab-pipelines
    file:
      - spack-build-components.gitlab-ci.yml
      - github-project-pipelines.gitlab-ci.yml
  - project: hpc/gitlab-upload-logs
    file: enable-upload.yml

# Set up Spack
spack_setup:
  extends: .spack_setup_ccache
  variables:
    # Enable fetching GitHub PR descriptions and parsing them to find out what
    # branches to build of other projects.
    PARSE_GITHUB_PR_DESCRIPTIONS: "true"
  script:
    - !reference [.spack_setup_ccache, script]
    # This allows us to use the CoreNEURON repository in regression tests of
    # the gitlab-pipelines repositories. The regression test pipeline triggers
    # *this* pipeline as a child, having pushed a modified branch to the GitLab
    # mirror of the CoreNEURON repository. We have to update the Spack recipe
    # to point at the GitLab mirror so the relevant commit (on the modified
    # branch) can be found.
    - if [[ "${CI_PIPELINE_SOURCE}" == "pipeline" ]]; then
    - cd $(spack location -p coreneuron)
    - sed -i -e 's#\(git\s*=\s\)"https://github.com/BlueBrain/CoreNeuron"#\1"git@bbpgitlab.epfl.ch:hpc/coreneuron.git"#' package.py
    - git diff
    - fi

# Performance seems to be terrible when we get too many jobs on a single node.
.build:
  extends: [.spack_build]
  variables:
    bb5_ntasks: 2   # so we block 16 cores
    bb5_cpus_per_task: 8 # ninja -j {this}
    bb5_memory: 76G # ~16*384/80

.spack_intel:
  variables:
    SPACK_PACKAGE_COMPILER: intel
.spack_nvhpc:
  variables:
    SPACK_PACKAGE_COMPILER: nvhpc
.build_neuron:
  extends: [.build]
  timeout: two hours
  variables:
    bb5_duration: "2:00:00"
    SPACK_PACKAGE: neuron
    SPACK_PACKAGE_REF: ''
    SPACK_PACKAGE_SPEC: +coreneuron+debug+tests~legacy-unit~rx3d model_tests=channel-benchmark,olfactory,tqperf-heavy
.gpu_node:
  variables:
    bb5_constraint: volta
.test_neuron:
  extends: [.ctest]
  variables:
    bb5_ntasks: 16
    bb5_memory: 76G # ~16*384/80

# Build NMODL once with GCC
build:nmodl:
  extends: [.build]
  variables:
    SPACK_PACKAGE: nmodl
    SPACK_PACKAGE_REF: ''
    SPACK_PACKAGE_SPEC: ~legacy-unit
    SPACK_PACKAGE_COMPILER: gcc

# Build CoreNEURON
build:coreneuron:mod2c:nvhpc:acc:
  extends: [.build, .spack_nvhpc]
  variables:
    SPACK_PACKAGE: coreneuron
    # +report pulls in a lot of dependencies and the tests fail.
    # See https://github.com/BlueBrain/CoreNeuron/issues/518 re: build_type
    SPACK_PACKAGE_SPEC: +gpu+openmp+tests~legacy-unit~report build_type=RelWithDebInfo

# Build CoreNEURON with Unified Memory on GPU
build:coreneuron:mod2c:nvhpc:acc:unified:
  extends: [.build, .spack_nvhpc]
  variables:
    SPACK_PACKAGE: coreneuron
    # +report pulls in a lot of dependencies and the tests fail.
    # See https://github.com/BlueBrain/CoreNeuron/issues/518 re: build_type
    SPACK_PACKAGE_SPEC: +gpu+unified+openmp+tests~legacy-unit~report build_type=RelWithDebInfo

.build_coreneuron_nmodl:
  extends: [.build]
  before_script:
    # NEURON depends on py-mpi4py, most of whose dependencies are pulled in by
    # nmodl%gcc, with the exception of MPI, which is pulled in by
    # coreneuron%{nvhpc,intel}. hpe-mpi is an external package anyway, so
    # setting its compiler is just changing how it is labelled in the
    # dependency graph and not changing which installation is used, but this
    # means that in the NEURON step an existing py-mpi4py%gcc can be used.
    # Otherwise a new py-mpi4py with hpe-mpi%{nvhpc,intel} will be built.
    # TODO: fix this more robustly so we don't have to play so many games.
    - SPACK_PACKAGE_DEPENDENCIES="${SPACK_PACKAGE_DEPENDENCIES}^hpe-mpi%gcc"
    - !reference [.spack_build, before_script]

build:coreneuron:nmodl:nvhpc:omp:
  extends: [.build_coreneuron_nmodl, .spack_nvhpc]
  variables:
    SPACK_PACKAGE: coreneuron
    # +report pulls in a lot of dependencies and the tests fail.
    # See https://github.com/BlueBrain/CoreNeuron/issues/518 re: build_type
    SPACK_PACKAGE_SPEC: +nmodl+openmp+gpu+tests~legacy-unit~report~sympy build_type=RelWithDebInfo
  needs: ["build:nmodl"]

build:coreneuron:nmodl:nvhpc:acc:
  extends: [.build_coreneuron_nmodl, .spack_nvhpc]
  variables:
    SPACK_PACKAGE: coreneuron
    # +report pulls in a lot of dependencies and the tests fail.
    # See https://github.com/BlueBrain/CoreNeuron/issues/518 re: build_type
    # Sympy + OpenMP target offload does not currently work with NVHPC
    SPACK_PACKAGE_SPEC: +nmodl~openmp+gpu+tests~legacy-unit~report+sympy build_type=RelWithDebInfo
  needs: ["build:nmodl"]

build:coreneuron:mod2c:intel:
  extends: [.build, .spack_intel]
  variables:
    SPACK_PACKAGE: coreneuron
    SPACK_PACKAGE_SPEC: +tests~legacy-unit build_type=Debug

build:coreneuron:nmodl:intel:
  extends: [.build_coreneuron_nmodl, .spack_intel]
  variables:
    SPACK_PACKAGE: coreneuron
    SPACK_PACKAGE_SPEC: +nmodl+tests~legacy-unit build_type=Debug
  needs: ["build:nmodl"]

# Build NEURON
build:neuron:mod2c:nvhpc:acc:
  extends: [.build_neuron, .spack_nvhpc]
  needs: ["build:coreneuron:mod2c:nvhpc:acc"]

build:neuron:nmodl:nvhpc:omp:
  extends: [.build_neuron, .spack_nvhpc]
  needs: ["build:coreneuron:nmodl:nvhpc:omp"]

build:neuron:nmodl:nvhpc:acc:
  extends: [.build_neuron, .spack_nvhpc]
  needs: ["build:coreneuron:nmodl:nvhpc:acc"]

build:neuron:mod2c:intel:
  extends: [.build_neuron, .spack_intel]
  needs: ["build:coreneuron:mod2c:intel"]

build:neuron:nmodl:intel:
  extends: [.build_neuron, .spack_intel]
  needs: ["build:coreneuron:nmodl:intel"]

# Test CoreNEURON
test:coreneuron:mod2c:nvhpc:acc:
  extends: [.ctest, .gpu_node]
  needs: ["build:coreneuron:mod2c:nvhpc:acc"]

test:coreneuron:mod2c:nvhpc:acc:unified:
  extends: [.ctest, .gpu_node]
  needs: ["build:coreneuron:mod2c:nvhpc:acc:unified"]

test:coreneuron:nmodl:nvhpc:omp:
  extends: [.ctest, .gpu_node]
  needs: ["build:coreneuron:nmodl:nvhpc:omp"]

test:coreneuron:nmodl:nvhpc:acc:
  extends: [.ctest, .gpu_node]
  needs: ["build:coreneuron:nmodl:nvhpc:acc"]

test:coreneuron:mod2c:intel:
  extends: [.ctest]
  needs: ["build:coreneuron:mod2c:intel"]

test:coreneuron:nmodl:intel:
  extends: [.ctest]
  needs: ["build:coreneuron:nmodl:intel"]

# Test NEURON
test:neuron:mod2c:nvhpc:acc:
  extends: [.test_neuron, .gpu_node]
  needs: ["build:neuron:mod2c:nvhpc:acc"]

test:neuron:nmodl:nvhpc:omp:
  extends: [.test_neuron, .gpu_node]
  needs: ["build:neuron:nmodl:nvhpc:omp"]

test:neuron:nmodl:nvhpc:acc:
  extends: [.test_neuron, .gpu_node]
  needs: ["build:neuron:nmodl:nvhpc:acc"]

test:neuron:mod2c:intel:
  extends: [.test_neuron]
  needs: ["build:neuron:mod2c:intel"]

test:neuron:nmodl:intel:
  extends: [.test_neuron]
  needs: ["build:neuron:nmodl:intel"]
